.poem h2 {
  text-align: center;
  font-family: "Old English Text MT", serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.poem-form {
  margin-bottom: 20px;
}

.poem-form .form-group {
  margin-bottom: 10px;
}

.poem-form label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.poem-form input[type="text"],
.poem-form textarea,
.poem-form select {
  width: 100%;
  padding: 5px;
}

.poem-form textarea {
  height: 200px;
}

.poem-list {
  list-style-type: none;
  padding: 0;
}

.poem-item {
  margin-bottom: 20px;
}

.poem-item h3 {
  margin-top: 0;
}

.update-poem-form {
  margin-top: 10px;
}

.update-poem-form .form-group {
  margin-bottom: 10px;
}

.update-poem-form label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.update-poem-form input[type="text"],
.update-poem-form textarea,
.update-poem-form select {
  width: 100%;
  padding: 5px;
}

.update-poem-form textarea{
  height: 100px;
}

.btn-primary {
  background-color: black;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
