.search-container {
  text-align: center;
}

.search-field, .filter-field {
  margin-bottom: 20px;
}

.gothic-label {
  font-family: 'Old English Text MT', serif;
  font-size: 18px;
  color: black;
  margin-right: 10px;
}

.gothic-input {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Yu Gothic', serif;
  font-size: 16px;
}

.gothic-button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Old English Text MT', serif;
  font-size: 16px;
  cursor: pointer;
}

.gothic-select {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'GothicFont', sans-serif;
  font-size: 16px;
}

.gothic-option {
  font-family: 'GothicFont', sans-serif;
  font-size: 16px;
}

.poem-list {
  text-align: center;
}

.gothic-heading {
  font-family: 'Old English Text MT', serif;
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.gothic-list {
  list-style-type: none;
  padding: 0;
}

.gothic-list li {
  cursor: pointer;
  margin-bottom: 10px;
}

.gothic-list li:last-child {
  margin-bottom: 0;
}
